.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: orange;
  color: white;
  padding: 15px;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
